/* Notification Boxes */

#myth-admin-main-wrap .notifications{margin:50px 10px 0 10px;}
.myth-notification{padding:10px 20px;cursor:pointer;font-weight:bold;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;margin-bottom:15px;}
.myth-notification .myth-dismiss{color:black;opacity:0.45;font-size:10px;font-weight:normal;}
.myth-notice{background:#bfdfdc;border:1px solid #55a19a;color:#55a19a;}
.myth-success{background:#c2dfbf;border:1px solid #659e5f;color:#659e5f;}
.myth-error{background:#dfbfbf;border:1px solid #ac5757;color:#ac5757;}


/* Myth Options Panel */
.myth-wrap{margin-left:-19px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
#myth-topbar{
    z-index:100;
    height:30px;
    background: #3993BA;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3993BA), color-stop(100%,#067EAD));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3993ba', endColorstr='#067ead',GradientType=0 );
    color:white;
    padding:0 25px;
    padding-top:15px;
    min-width:100%;
    position:fixed;
}

#myth-theme-logo{
    padding-left:25px;
    background:url(../images/mythadminicon.png) no-repeat left;
    font-weight:bold;
}

#myth-sidebar{
    min-width: 240px;
    max-width: 240px;
    color:#222;
    background:#efefef;
    border-right:1px solid #ccc;
    padding:25px 0;
    color: #222;
    min-height:100%;
    position:fixed;
    top:73px;
    z-index:100;
}

.mythcat-wrap{
    background:#fff;
}

.mythcat{
    background:#E0E0E0;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ECECEC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    padding:10px 5px 10px 35px;
    text-shadow: 1px 1px 0 #EFEFEF;
    border-color: #CCC;
    border-style: solid;
    border-width: 0px 0px 1px;
    cursor:pointer;
}

#myth-sidebar li:hover{
    background:#48A6D2;
    color:#fff;
}

#myth-sidebar ul{
    background:#fff;
    padding:10px 15px;
    padding-left:35px;
    margin:0;
    display:none;
}

#myth-sidebar ul li{
    box-shadow:none;
    background:#fff;
    border:none;
    padding:3px 15px;
    margin:2px 0;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-bottom:0;
    cursor:pointer;
}

#myth-sidebar .myth-credits p{
    font-size: 9px;
    color:#bbb;
    text-align:center;
}

#myth-admin-main-wrap{
    padding-left:250px;
    padding-right:10px;
    padding-top:20px;
}

#myth-options-panel{width:70%;margin:25px 0;border:1px solid #ddd;background:#eee;border-radius: 8px;}
#myth-options-panel #cats, #myth-options-panel #myth-mainz{height:100%;}
#myth-panel-logo{height:82px;background:url(../images/mythpanel-logo.png) no-repeat center;margin-top:20px;margin-bottom:40px;}
#myth-options-panel #cats{float:left;width:30%;
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(76,76,76,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(76,76,76,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(76,76,76,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(76,76,76,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(76,76,76,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(76,76,76,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4c4c4c',GradientType=1 ); /* IE6-9 */
color:#fff;
border:1px solid #000;
}

.myth_option_container input, .myth_option_container select{width: 250px;height: 30px;padding-left: 5px;}
.myth_colorpicker{background: url(../images/cpick.png) no-repeat 220px center; cursor: pointer;}
.myth_option_container input.yesno, .myth_option_container input.onoff {width:50px;}
.myth_option_container textarea{width:400px;min-height:200px;}
.myth_option_container .upload_button{
    margin-left:-10px;
    border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
}
.myth_option_container .upload_button, .myth_option_container button{
    padding:3px 10px;
    width:auto;
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    border:1px solid #008AE0;
    color:white;
    text-shadow:0px 0px 1px rgba(0,0,0,0.7);
    cursor:pointer;
}
.myth_option_container .upload_button:hover, .myth_option_container button:hover{
    color:white;
    border:1px solid #008AE0;
    box-shadow:0px 0px 3px rgba(0,0,0,0.7);
}
.myth_option_container .upload_button:active, .myth_option_container button:active{
    color:#A3DCE2;
}

/* Slider Style */
.mythSliderOption{height:60px;}
.mythSliderOption .theMythSlider{max-width:250px;}
.mythSliderOption .sliderVal{
    background:none;
    border:none;
    max-width:35px;
}

.mythSliderOption .ui-widget-content{
    background: rgb(130,180,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(130,180,244,1) 0%, rgba(60,122,199,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,180,244,1)), color-stop(100%,rgba(60,122,199,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(130,180,244,1) 0%,rgba(60,122,199,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(130,180,244,1) 0%,rgba(60,122,199,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(130,180,244,1) 0%,rgba(60,122,199,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(130,180,244,1) 0%,rgba(60,122,199,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82b4f4', endColorstr='#3c7ac7',GradientType=0 ); /* IE6-9 */
    border:1px solid #5583bc;
    height:8px;

}
.mythSliderOption .ui-slider .ui-slider-handle{
    top:-9.5px;
    background:url(../images/slider-handle.png) no-repeat;
    border:none;
    height:24px;
    width:24px;
    cursor:pointer;
}

.mythSliderOption .slVal{
    position: absolute;
    top:18px;
    left:0;
    background:#eee;
    padding: 2px 8px;
    border:1px solid #ddd;
    width:232px;
}
.mythSliderOption .slVal *{
    font-size: 10px;
    height:11px;
}

.mythSliderOption .slVal input{
    height: 15px;
}

/* the Sub Category Form Container */
.subCat-title{margin:5px 0;line-height:35px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;padding:20px;background:#eee;}
.mythSCFormContainer{padding:10px;display:none;}
.myth_option_container{margin: 35px 0;}
.myth_option_container .myth_label{font-weight:bold;min-width:200px;display:inline-block;vertical-align:top;padding:8px 0;}
.iPhoneCheckContainer, .theMythSlider{display:inline-block;}
.theMythSlider{width:250px;}
#theme_form_submit{
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,white,#E6E6E6);
    background-image: -o-linear-gradient(top,white,#E6E6E6);
    background-image: linear-gradient(to bottom,white,#E6E6E6);
    background-image: -moz-linear-gradient(top,white,#E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
        filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}




#theme_form_submit:hover,#theme_form_submit:active{color:#333;background-color:#e6e6e6;background-color:#d9d9d9}
#theme_form_submit:active{background-color:#ccc;}
